
<header>
</header>

<%= stylesheet_link_tag 'about', :media => "all" %>
<br>
<%= image_tag 'concept.png', class: "concept" %>

<div class= "container">
<p>

<br>ぱさつき、ダメージ、髪質などのお悩み、お気軽にお話ください。</br>
<br>それぞれのお悩みのケースにあった髪型や日常のお手入れ方法をご提案をさせていただきます。</br>
    


<br>当店は、日常の疲れを癒す隠れ家をイメージしております。</br>
<br>カタログや雑誌の他にも、数多くの書籍をご用意させていただいておりますので、</br>
<br>ぜひ、気になった本がございましたら、ご自由に手にとってお読みください。</br>
<br>コーヒーを飲みながら、ゆったりとした時間をお過ごしくださいませ。</br>




<br>親切なカウンセリングと</br>
<br>長年培った経験と技術力で、</br>
<br>お客様、一人ひとりが目指すスタイルを実現いたします。</br>
</p>
</div>


<%= image_tag 'Frame.png', class: "frame" %>
<%= image_tag 'Frame2.png', class:"frame2" %>
<%= image_tag 'concept_frame.png', class: "concept_frame" %>


<br><%= link_to "back", hairs_index_path, class: "back_link" %>
</br>