<body>
<header>
</header>

<%= image_tag 'company.png',class: "company" %>
<%= image_tag 'ヘアピン.png',class: "hair_pin" %>
<%= stylesheet_link_tag 'company', :media => "all" %>

<div class= "container">
<p>
<br>ご挨拶</br>


<br>いつもお世話になっております。BCBG(ベーセ・ベージェ)でございます。</br>

<br>当店は、予約制となっております。</br>
<br>お客様、ひとりひとりに充実したお時間をご提供させていただくために、</br>
<br>電話にて事前のご予約をお願いいたします。</br>


<br>Tell 0774-93-2275</br>



<br>当店は、事前にお申し付けくださった場合、可能な限りご希望の時間を</br>
<br>最優先させていただきたいと考えております。</br>

<br>開店・閉店時間に関わらず、施術可能な日程もございますので、</br>
<br>お電話予約される際に、ご相談ください。</br>



<br>ご来店いただいた方に、ごゆっくりとおくつろぎいただけるように、努めて参ります。</br>


<br>営業時間</br>

<br>Open</br>
<br>9:00</br>
<br>close</br>
<br>毎週月曜日・第３日曜日</br>

<br>ご不明点などございましたら、気軽にお電話ください。</br>

<br>Tell 0774-93-2275</br>

</p>
</div>

<%= image_tag 'company_frame.png',class: "company_frame"%>
<%= image_tag '外観.png',class: "gaikan"%>
<%= image_tag '２人.png',class: "illustration" %>


<br>
<%= link_to "back", hairs_index_path, class: "back_link" %>
</br>